html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'B612', sans-serif;
  line-height: 1.3;
  overflow: hidden;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}

h1, h2 {
  margin: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fade-in {
  visibility: visible;
}

.fade-out {
  visibility: hidden;
}

.header {
  position: relative;
  color: #92817A;
  opacity: 0.7;
}

.header h1 {
  background-color: #E4DEDE;
  text-align: center;
  height: 4.124rem;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#92817A), to(transparent));
  background-image: linear-gradient(#92817A, transparent);
}

.overlay .input-forms {
  height: 25rem;
  width: 20rem;
  margin-top: 3.375rem;
  background-color: #FFFFFF;
  border-radius: 6px;
}

@media (min-width: 40rem) {
  .overlay .input-forms {
    height: 35rem;
    width: 30rem;
  }
}

.overlay .input-forms form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.overlay .input-forms form > * {
  padding: 0.625rem;
  margin: 0.3125rem;
}

.overlay .input-forms form input, .overlay .input-forms form select, .overlay .input-forms form button {
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 5px #92817A;
          box-shadow: 1px 2px 5px #92817A;
}

.main {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("/library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-sort {
  background-color: #E4DEDE;
  border-top: #92817A solid 1px;
}

.main-sort a {
  height: 2.375rem;
  padding: 0.875rem 0.875rem;
  color: #92817A;
}

.main-sort a:not(:last-child) {
  border-right: #92817A;
}

.main-sort a:hover {
  background-color: #92817A;
  color: #E4DEDE;
  -webkit-box-shadow: 0px 1px 1px 1px;
          box-shadow: 0px 1px 1px 1px;
}

@media (min-width: 64rem) {
  .main-sort {
    margin-top: 4.375rem;
    border-top: none;
    width: 50%;
  }
}

.main #new-btn {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  height: 5rem;
  width: 5rem;
  background-color: #92817a8f;
  border-radius: 50px;
  border: 6px solid #FFFFFF;
  font-size: 2.75rem;
  color: #FFFFFF;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */