.header {
    
    color: $Brown;
    opacity: 0.7;

    h1 {
        background-color: $LightGray;
        text-align: center;
        height: 4.124rem;
    }

}


.main {
   
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/library.jpg");
    background-repeat: no-repeat;
    background-size: cover;


    &-sort {
        background-color: $LightGray;
        border-top: $Brown solid 1px;

        a {
            height: 2.375rem;
            padding: 0.875rem 0.875rem;
            color: $Brown;
            

            &:not(:last-child) {
                border-right: $Brown;
            }

            &:hover {
                background-color: $Brown;
                color: $LightGray;
                box-shadow: 0px 1px 1px 1px;
            }
        }

        @include breakpoint-up(large) {
            margin-top: 4.375rem;
            border-top: none;
            width: 50%;
            
        }

      
    }
}