
//Colors 

$Brown: #92817A;
$DarkGray: #707070;
$Green: #8DB596;
$LigthGreen: #BEDBBB;
$LightGray: #E4DEDE;
$VeryLightGray: #FFFBFA;
$White: #FFFFFF;



//Fonts 
$font-sm: 1rem;
$font-md: 1.125rem;
$font-lg: 2.375rem;
